<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-local-storage.min.js"></script>
	<script type="text/javascript">
		// https://github.com/grevory/angular-local-storage
		var app = angular.module("mainApp", ["LocalStorageModule"]);
		app.controller("mainCtrl", ["localStorageService", "$scope", "$timeout", function(localStorageService, $scope, $timeout) {
			localStorageService.set("cart", []);
			console.log(localStorageService.get("cart"));
			console.log(localStorageService.keys());
			// bind
			//localStorageService.bind(scope, property, value[optional], key[optional])
			console.log(localStorageService.bind($scope, "cart"));
			localStorageService.set("cart", "qusiba");
			//localStorageService.length();

			localStorageService.set('property', 'oldValue');

			$scope.unbind = localStorageService.bind($scope, 'property'); // bind will return a function which executed will unbind the link

			//Test Changes
			$scope.update = function(val) {
				$scope.property = val;
				$timeout(function() {
					alert("localStorage value: " + localStorageService.get('property'));
				});
			}

			//localStorageService.remove("cart");
			localStorageService.clearAll();
		}]);
		app.config(function (localStorageServiceProvider) {
			//setNotify
			localStorageServiceProvider.setNotify(console.log(1), console.log(2));
		});
	</script>
</head>
<body ng-app="mainApp">
<div ng-controller="mainCtrl">
	{{cart}}
	<hr>
	<p>{{property}}</p>
	<input type="text" ng-model="lsValue"/>
	<button ng-click="update(lsValue)">update</button>
	<button ng-click="unbind()">unbind</button>
</div>
</body>
</html>