body { }
/* The modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* login dialog Content */
.login-dialog-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
}
/* preview dialog Content */
.preview-dialog-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
}
.preview-name {
    text-align: center;
    padding-top: 20px;
    font-family: sans-serif;
    font-size: 14px;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* login form */
.loginForm {
	padding-top: 50px;
}
.notamember {
	text-align: center;
}
.errorMsg {
	color: tomato;
	display: none;
}
/* Loading page */
.loading-spiner-holder {
	position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    padding-top: 20%;
    text-align: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: black;
}
/* general */
.bg-tomato {
	background-color: tomato;
}
/* collections */
.page-title {
	float: left;
}
.breadcrumbs {
	padding-top: 30px;
	float: right;
}
.collections-gap-bar {
	margin-top: 80px;
}
.pointer {
    cursor: pointer;
}
/* Back to top styles */
.back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1;
	width: 50px;
	height: 50px;
	background: #DDD;
	opacity: 0.5;
	display: none;
}
.back-to-top:hover {
	opacity: 1;
	cursor: pointer;
}
.back-to-top i {
	font-size: 25px;
	padding: 12px;
	color: #FFF;
}
/* my account */
h2>.caret {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000000;
}
.rotate {
    transform:rotate(-180deg);
}
.userContainer {
    display: none; 
    padding: 10px 20px;
}
/* Home page */
.home-image {
    border: 1px solid #eee;
}
.home-image:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.slider {
    height: 600px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 20px solid #FFF;
    margin-top: 20px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
}

.slide:hover {
    cursor: pointer;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../assets/img/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: 0.2;
    left: 20px;
    background-image: url(../assets/img/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.2;
    right: 20px;
    background-image: url(../assets/img/paddle_next_999.png);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    border: 1px solid #eee;
    background-image: url(../assets/img/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    border: 1px solid #eee;
    background-image: url(../assets/img/paddle_next_fff.png);
}

.border {
    border: 1px solid black;
}