<div class="container">
	<h1 class="page-title">{{location.toUpperCase()}}</h1>
	<div class="breadcrumbs">
		<a href="#/home">Home</a>
		<span class="divider">/</span>
		<span>{{location}}</span>
	</div>
	<hr style="margin-top: 100px;">

	<div class="row">
		<!-- company info -->
		<div class="col-sm-6 row" style="border-right: 1px solid #eee">
			<div class="col-sm-6">
				<i class="fa fa-map-marker"></i>  56 W 45th street Suite #1400
			</div>
			<div class="col-sm-6">
				<i class="fa fa-phone"></i>  212-840-9380
			</div>
			<div class="col-sm-6">
				New York NY 10036
			</div>
			<div class="col-sm-6">
				<i class="fa fa-fax"></i>  212-840-9381
			</div>
			<div class="col-sm-6">
				<i class="fa fa-envelope-o"></i>  unitedgemco@gmail.com
			</div>
			<div class="col-sm-6">
				<i class="fa fa-clock-o"></i>  Mon - Fri / 10:00 AM to 6:00 PM
			</div>
			<hr class="col-sm-11">
			<!-- google map -->
			<div class="col-sm-11">
				<map center="40.756166, -73.981877" zoom="15"> 
					<!-- ngRepeat: pos in positions -->
					<marker ng-repeat=" pos in positions" position="{{pos.lat}},{{pos.lng}}"></marker>
		        </map> 
			</div>
		</div>
		<!-- company form -->
		<form class="form-horizontal col-sm-offset-1 col-sm-5">
			<div class="form-group row">
				<input class="col-sm-10" type="text" placeholder="Your Name*">
			</div>
			<div class="form-group row">
				<input class="col-sm-10" type="text" placeholder="Your Email*">
			</div>
			<div class="form-group row">
				<textarea class="form-control col-sm-10" rows="10" placeholder="Message"></textarea>
			</div>
			<div class="form-group row">
				<input class="col-sm-5" type="text" placeholder="Enter Verification Code*">
				<div class="col-sm-5">
					<img src="images/captcha-bg.jpg">
				</div>
			</div>
			<button class="btn btn-info" ng-click="send()">Submit</button>
		</form>
	</div>
</div>