<div class="container">
	<h1 class="page-title">{{location.toUpperCase()}}</h1>
	<div class="breadcrumbs">
		<a href="#/home">Home</a>
		<span class="divider">/</span>
		<span>{{location}}</span>
	</div>
	<hr style="margin-top: 100px;">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>SHOW</th>
					<th>DATES</th>
					<th>BOOTH</th>
				</tr>
				<tr>
					<td>HongKong Int. Jewellery Show</td>
					<td>March 2-6, 2017</td>
					<td>Hall 3D Booth # E-38</td>
				</tr>
				<tr>
					<td>JCK Las Vegas Show</td>
					<td>June 5-8 , 2017</td>
					<td>B 18173</td>
				</tr>
			</thead>
		</table>
	</div>

</div>