<div class="container">
	<div class="row">
		<!-- sliding show-->
		<div class="col-sm-12">
			<div class="slider">
				<img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage img-responsive" data-id="{{slide.href}}"
			         ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
			         ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}" ng-click="redirectPath($event)">

			    <a class="arrow prev" ng-click="nextSlide(); $event.stopPropagation();"></a>
			    <a class="arrow next" ng-click="prevSlide(); $event.stopPropagation();"></a>
			</div> 
		</div>
		<!-- collections-->
		<div class="col-sm-8 col-sm-offset-2">
			<img src="images/collections-pic.jpg" class="img-responsive home-image" data-id="collections" ng-click="redirectPath($event)">
		</div>
		<!-- Bangles -->
		<div class="col-sm-4">
			<img src="images/bangles.jpg" class="img-responsive home-image" data-id="collections/bangles" ng-click="redirectPath($event)">		
		</div>
		<!-- Pearl -->
		<div class="col-sm-4">
			<img src="images/pearl.jpg" class="img-responsive home-image" data-id="collections/pearl" ng-click="redirectPath($event)">
		</div>
		<!-- Tassels -->
		<div class="col-sm-4">
			<img src="images/tassels.jpg" class="img-responsive home-image" data-id="collections/tassels" ng-click="redirectPath($event)">
		</div>
		<!-- Contact us -->
		<div class="col-sm-5 col-sm-offset-1">
			<img src="images/contactUs.jpg" class="img-responsive home-image" data-id="contact" ng-click="redirectPath($event)">
		</div>
		<!-- Join -->
		<div class="col-sm-5">
			<img src="images/join.jpg" class="img-responsive home-image" data-id="registration" ng-click="redirectPath($event)">
		</div>
	</div>
</div>